core-toolbar {
  background: transparent;
}

paper-tabs {
  background: transparent;
}

paper-tabs::shadow #selectionBar {
  background-color: #ff4081;
}

paper-tabs paper-tab::shadow #ink {
  color: #ff4081;
}

paper-fab {
  position: fixed;
  right: 80px;
  bottom: 50px;  
}