

paper-fab {
  position: absolute;
  right: 60px;
  bottom: -400px;
}

 * /deep/ core-overlay.white {
   box-sizing: border-box;
   -moz-box-sizing: border-box;               
   background: white;
   padding:30px 42px;     
   box-shadow: 0 4px 16px rgba(0,0,0,0.2);
 }

* /deep/ core-overlay core-list {
  min-width: 300px;
  max-width: 600px;
  min-height: 100px;
  max-height: 500px;              
}

* /deep/ core-overlay core-list core-label paper-checkbox {
  position: relative;
  left: -20px;
}

* /deep/ paper-fab.bottom_right {
    position: absolute;
    right: 60px;
    bottom: 60px;
  }      

* /deep/ .tab_scrollable_content {
  height:100%; 
  overflow: auto;
}

* /deep/ .exc_img_content {
  width: 80%;
  height: auto;  
}

* /deep/ core-toolbar {

    background-color: #2a6c7f;
    font-family: 'Arial';

}
* /deep/ core-toolbar#navheader {

    height:15%;
    background-color: #012c38 ;
    font-family: 'Arial';

}

* /deep/ core-header-panel {


    background-color: #083a48;

    font-family: 'Arial';

}

* /deep/ core-icon {
    color: #f29312;
    width: 32px;
    height: 32px;
  }

  * /deep/ :host(.core-selected){
    background-color:#2a6c7f;
  }


* /deep/ div.button-content {

}
* /deep/ core-header-panel#headerPanel { 
  background-color: #ebf4ff;
}

